@font-face {
    font-family: "ProximaNova";
    src: url("assets/fonts/ProximaNova-Regular.otf") format("opentype");
  }
  
:root {
  --primairy-color-1: #f7a100;
  --primairy-color-2: #ffffff;
  --primairy-color-3: #0071B3;
  --primairy-color-4: #333333;

  --secundairy-color-1: #53241b;
  --secundairy-color-2: #478bb3;
  --secundairy-color-3: #f8c463;
  --secundairy-color-4: #66ba96;
  --secundairy-color-5: #DE9000;
  --secundairy-color-6: #F8B73E;
  --secundairy-color-7: #006199;
  --secundairy-color-8: #2C81B3;

  --grayscale-color-1: #ededed;
  --grayscale-color-2: #cccccc;
  --grayscale-color-3: #666666;
  --grayscale-color-4: #333333;

  --background-color-1: #ffffff;
  --background-color-2: #333333;

  --content-radius: 0.1em;
  --regular-text: 1em;
  --fonts: "ProximaNova", sans-serif;
  --regular-border: .1em solid var(--grayscale-color-3);
}

* {
  font-family: var(--fonts);
}

body {
  margin: 0;
}

header {
  background-color: var(--secundairy-color-1);
  margin: 0;
  padding .5em;
}

header li {
  list-style: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

header a {
  color: var(--background-color-1);
}
header button {
  background: none;
  transition: var(--regular-transition);
  border-style: none;
}

nav {
  display: flex;
}

.header {
  display: flex;
  align-items: center;

}

.logo-funda {
  width: auto;
  height: 2em;
  cursor: pointer;
}

.hamburger {
  flex-direction: column-reverse;
}

.hamburger,
.nav-list-right,
.nav-list-left {
  cursor: pointer;
  font-size: 0.8em;
  display: flex;
}

.hamburger img,
.nav-list-right img {
height: 2em;
width: auto;
align-self: center;
  }   

.header a:link,
.header a:visited,
.header a:active {
color: var(--primairy-color-2);
text-decoration: none;
  }
  
/* Pop-up */
.pop-up {
  display: none;
  background: var(--background-color-1);
  padding: 5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  border: var(--regular-border);
  border-radius: .1em;

  box-shadow: 0em 0em 1em var(--grayscale-color-2);
}

.pop-up-add-list {
  background: var(--background-color-1);
  display: block;
  padding: 5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  border: var(--regular-border);
  border-radius: .1em;

  box-shadow: 0em 0em 1em var(--grayscale-color-2);
}

.pop-up-button-submit {
  padding: 1em;
  width: auto;
  text-align: left;
  background-color: var(--background-color-1);
  border-style: solid;
  border-color: var(--primairy-color-1);
  border-radius: 0.15em;
  font-size: 1em;
  color: var(--background-color-2);
}


/* Micro-transactie */
/* .pop-up-button-submit {
  background-color: var(--primairy-color-1);
  border-style: none;
  color: var(--background-color-1);

} */




/* Main */
main {
    margin: 3em;
    color: var(--primairy-color-4);
    font-size: 1em;
}

.list-saved-houses ul,
.all-saved-houses ul {
  list-style: none;
  padding-inline-start: 0;
}

.list-saved-houses{
    background-color: var(--secundairy-color-3);
    padding: 3em;
    display: block;
    
}

.list-saved-houses ul {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.list-saved-houses button {
  padding: 1em;
  width: 100%;
  text-align: left;
  background-color: var(--primairy-color-1);
  border-style: none;

  border-radius: .15em;

  font-size: 1em;
  color: var(--primairy-color-2);
}

.list-saved-houses button:hover {
  background-color: var(--secundairy-color-5);
  transition: .3s;

}

.add-button-saved-houses button {
  background-color: var(--primairy-color-3);
  color: var(--primairy-color-2);
}

.add-button-saved-houses button:hover {
  background-color: var(--secundairy-color-7);
}

.saved-house {
    display: flex;
    border: var(--regular-border);
    border-radius: .1em;
    margin: 1em 0 1em 0;
}

.all-saved-houses img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

/* footer */

footer {
background-color: var(--grayscale-color-1);
padding: 5em;
display: flex;
justify-content: center;
}

footer li,
footer ul {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  line-height: 2em;
}

footer a {
    transition: .3s;
}

footer a:link,
footer a:visited {
  color: var(--secundairy-color-2);
  text-decoration: none;
}

footer a:hover {
    color: var(--primairy-color-4);
    animation-duration: 1s;
  }